p {
	background: #003366;
	margin: 0%;
}

button {
	background-color: #0583f3;
	color: #f9fafb;
	border-color: aliceblue;
}

button.admin {
	width: 50px;
	background-color: #feffff;
	color: #0436af;
	border-color: #147de8;
}

div.friends {
	max-height: 400px;
	overflow-y: scroll;
}

div.group {
	max-height: 400px;
	overflow-y: scroll;
}

#usersa {
	position: absolute;
	z-index: 2;
	width: 70%;
	left: 25%;
	background-color: #93ccff;
	top: 10%;
}

#users {
	left: 25%;
	background: #003366;
}

button:hover {
	filter: brightness(85%);
}

.button:active {
	transform: translateY(4px);
}

#searchbar {
	position: absolute;
	left: 25%;
	top: 10%;
	height: 50%;
	width: 49.5%;
}

#showfriend {
	    position: absolute;
    top: 10%;
    left: 80%;
    color: #0030b2;
    background-color: #fdfdfd;
    box-shadow: inset 0px 0px 1px 1px #63aaea;
    border-color: #147de8;
    }

#logout {
	position: absolute;
	top: 10%;
	left: 90%;
	color: #0030b2;
	background-color: #feffff;
	box-shadow: inset 0px 0px 1px 1px #63aaea;
	border-color: #147de8;
}

#displayfriendrequest {
	position: absolute;
	left: 79%;
	top: 4%;
	z-index: 2;
	background-color: #95cdfd;
}


body {
	color: #0436af;
	font-size: 20px;
}

span.from {
	display: inline-block;
	float: top;
	width: 45%;
	overflow-wrap: break-word;
	white-space: normal;
	height: auto;
	left: 50%;
	position: relative;
	margin: auto;
	text-align: right;
	margin-bottom: 1.5%;
	margin-top: 2%;
}

span.fromsub {
	background-color: #95cdfd;
	padding-right: 20px;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-top: 2.5%;
}

span.tosub {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

span.to {
	display: inline-block;
	position: relative;
	left: 5%;
	max-width: 50%;
	overflow-wrap: break-word;
	padding-bottom: 2%;
	padding-top: 2%;
	padding-right: 7%;
	width: auto;
	height: auto;
	margin: auto;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-right: 5%;
	box-shadow: 0 0 0 2px #95cdfd;
}

#displayall {
	left: 25%;
	top: 110%;
	width: 50%;
	z-index: 2;
	position: absolute;
	    background-color: #cccccc;}

#displaymsg {
	overflow-y: scroll;
	left: 2%;
	height: 500px;
	width: 95%;
	position: relative;
	font-size: 20px;
	background: #ccf5ff;
	color: #0436af;
}

div.align {
	position: relative;
	left: 0%;
}

span.touser {
	font-size: 11px;
	min-width: auto;
	width: auto;
	text-align: center;
	margin-top: 0px;
	padding-right: 4px;
	position: absolute;
	left: 0%;
	top: -5%;
}

span.tochattime {
	font-size: 9px;
	min-width: auto;
	width: auto;
	text-align: center;
	margin-top: 6px;
	padding-right: 4px;
	position: absolute;
	right: 0%;
	bottom: 5%;
}

span.fromchattime {
	font-size: 9px;
	min-width: auto;
	width: auto;
	text-align: center;
	margin-top: 6px;
	padding-right: 4px;
	position: absolute;
	right: 0%;
	bottom: -50%;
}

#top {
	position: relative;
	background-color: #003366;
	margin-bottom: 1%;
}